/* Basic styles for the react-resizable handles */
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  z-index: 2;
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.react-resizable-handle:hover {
  opacity: 1;
}

/* The bottom right handle */
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.5) 1.5px, transparent 0%),
    linear-gradient(225deg, rgba(0, 0, 0, 0.5) 1.5px, transparent 0%);
}
